<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="css/style.css">
  <title>Tone Analyzer</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="ct" content="<$= ct $>">
  <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
  <style>
      .container {
          width: auto;
          border-top: 1px solid #D6D7D6;
          padding-top: 20px;
          display: none;
      }

      .left-box {
          float: left;
          width: 20%;
          cursor: pointer;
          background-color: #ffffff;
      }

      .redlink {
          color: #d74108 !important;
      }

      .results-frame {
          width: 79%;
          float: left;
          padding-top: 0px;
          padding-left: 20px;
      }

      .ml-item-active {
          border-right: #0078C1 20px solid;
      }

      .ml-item {
          padding: 10px;
          margin-top: 0px;
          margin-bottom: 5px;
          background: #f4f4f4;
      }

      .ml-item:hover {
          background: #f4f4f4;
      }

      .base--button_submit {
          width: 30%;
      }

      .int-hide {
          display: none;
      }

      .arrowup {
          background-image: url('images/icons/arrowup.svg');
          background-repeat: no-repeat;
          background-attachment: inherit;
          background-position: 98% 50%;
          background-color: #ececec;
          background-size: 20px 20px;
      }

      .code {
          background-image: url('images/icons/code.svg');
          background-size: 20px 20px;
          background-repeat: no-repeat;
          background-attachment: inherit;
      }

      .arrowdown {
          background-image: url('images/icons/arrowdown.svg');
          background-repeat: no-repeat;
          background-attachment: inherit;
          background-position: 98% 50%;
          background-color: #ececec;
          background-size: 20px 20px;
      }

      .arrowup-main {
          background-image: url('images/icons/arrowup.svg');
          background-repeat: no-repeat;
          background-attachment: inherit;
          background-position: 95% 50%;
          background-size: 1em;
      }

      .base--h1 {
          font-size: 2.4em;
      }

      .arrowdown-main {
          background-image: url('images/icons/arrowdown.svg');
          background-repeat: no-repeat;
          background-attachment: inherit;
          background-position: 88% 50%;
          background-size: 1em;
      }

      .add-1-result {
          margin-top: 0px;
      }

      .right-float {
          text-align: right;
          margin-bottom: 10px;
          margin-right: .5em;
          margin-top: 0rem;
          width: 30%;
          float: right;
      }

      .btn-all-results-keywords,
      .btn-all-results-entities,
      .btn-all-results-concepts,
      .btn-all-results-targetsentiment,
      .btn-all-results-relations {
          cursor: pointer;
          color: #435D7E;
          text-decoration: underline;
          font-size: 1em;
          float: left;
          width: 20%;
          text-align: left;
          margin-top: 5px;
          display: block;
      }

      .nested-relations {
          font-size: .9em;
      }

      .output-header-tagline {
          font-size: .9em;
          margin-top: 5px;
          padding-left: 1em;
          padding-right: 1em;
      }

      .icon-hyperlink {
          float: right;
      }

      .container-relations {
          width: 100%;
          border: 1px solid #e0e0e0;
          border-bottom: 0px;
      }

      .element-relations {
          border-bottom: 1px solid #e0e0e0;
          margin-top: 0px;
      }

      .header-relations {
          padding: 10px;
          cursor: pointer;
          margin-top: 0px;
      }

      .output {
          background: #ffffff;
      }

      .hiden-relation {
          display: none;
      }

      .content-relations {
          background: #ffffff;
          margin-top: 0rem;
          margin-bottom: 1.5em;
          display: none;
          margin-top: 1.5em;
      }

      #div2,
      #div3,
      #div4,
      #div5,
      #div6,
      #div7,
      #div8,
      #div9,
      #div10,
      #div11,
      #div12,
      #div13,
      .base--table,
      #div14,
      .banner--row {
          margin-top: 0px;
      }

      .banner--service-resource {
          /*margin-left: 8%;*/
      }

      .base--h3 {
          line-height: .8em;
          padding-left: .5em;
          padding-right: .5em;
      }

      .icon-reset:before {
          color: #435D7E;
      }

      .icon-hyperlink--button {
          color: #435D7E;
      }

      .base--a:visited {
          color: #435D7E;
      }

      .base--a {
          color: #435D7E;
      }

      .relations-headline {
          padding-top: .3em;
          font-size: 1.5em;
      }

      .footer-container {
          margin-bottom: 4em;
          margin-top: 4em;
      }

      .bottom-links {
          margin-right: 1.5em;
          float: left;
          border: 2px solid black;
          padding: .5em 2em .5em 2em;
          color: #2e2e2e;
          font-weight: bold;
          background-color: #f4f4f4;
          cursor: pointer;
          -webkit-transition: background-color 1s;
          -moz-transition: background-color 1s;
          -ms-transition: background-color 1s;
          -o-transition: background-color 1s;
          transition: background-color 1s;
      }

      .bottom-links:hover {
          background-color: #2e2e2e;
          color: white;
      }

      .bottom-links.base--a {
        color: #2e2e2e;
        text-decoration: none;
      }

      .bottom-links.base--a:hover {
          background-color: #2e2e2e;
          color: white;
      }

      img.icons {
          width: 20px;
          margin-left: .5em;
      }

      .json-btn {
          cursor: pointer;
          text-decoration: underline;
      }

      .API--json {
          color: #ffffff;
          margin-left: 1em;
          white-space: pre-wrap;
      }

      .input--API {
          background-color: #323232;
          border: 2px solid #777677;
          margin-top: 0;
          width: 100%;
          height: 250px;
          overflow: overlay;
          font-family: "Courier New", "Lucida Console", monospace;
          overflow: auto;
      }

      .loading-gif {
          max-width: 246px;
          height: auto;
          margin: auto;
      }

      .loading--icon {
          text-align: center;
      }

      .base--code {
          color: white;
      }

      .base--thead {
          font-weight: bold;
          color: #325c80;
          border-bottom: 1px solid #d5d6d5;
          background-color: #ffffff;
      }

      .footer-title {
          font-size: 2.1em;
      }

      .footer-tagline {
          font-size: 1.4em;
          margin-top: .5em;
          color: #2e2e2e;
      }

      .footer-banner {
          background-image: url('images/watson-logo.svg');
          background-position: right;
          background-repeat: no-repeat;
          background-size: 30em;
          width: 992px;
          margin: auto;
      }

      .bottom-banner {
          border-top: 2px solid #ececec;
          display: block;
      }

      .results-table--feedback-inputs {
        margin-top: .5em;
        margin-bottom: .5em;
        padding-top: .5em;
        padding-bottom: .5em;
      }

      .document-level-thankyou, .sentence-level-thankyou {
        display: none;
        background: green;
        color: white;
        margin-top: .5em;
        margin-bottom: .5em;
        padding-top: .5em;
        padding-bottom: .5em;
      }

      .thankyou {
        transition: opacity 1s ease-out;
        opacity: 0;
        height: 0;
        overflow: hidden;
      }

      .thankyou.active {
        opacity: 1;
        height: auto;
      }

      .vote {
        margin-left: .5em;
      }

      @media (max-width: 700px) {
          .left-box {
              width: 100%;
          }
          .ml-item {
              padding: 10px;
          }
          .results-frame {
              width: 100%;
              padding-left: 0px;
          }
          .btn-all-results {
              width: 35%;
          }
          .footer-banner {
              background-image: none;
              width: 100%;
              margin-left: 0;
              margin-right: 0;
          }
          .footer-tagline {
              font-size: 1em;
          }
          .footer-title {
              font-size: 1.5em;
              color: #2e2e2e;
          }
          .footer-container {
              margin-left: 2em;
              margin-top: 1em;
          }
      }



      .month {
    padding: 0% 0%;
    width: 100%;
    height: 0%;
    background: green;
}
/* Month list */
.month ul {
    margin: 0;
    padding: 0;
}
.month ul li {
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
}
/* Previous button inside month header */
.month .prev {
    float: left;
    padding-top: 10px;
}
/* Next button */
.month .next {
    float: right;
    padding-top: 10px;
}
/* Weekdays (Mon-Sun) */
.weekdays {
    margin: 0;
    padding: 10px 0;
    background-color:#ddd;
    width:100%;
}
.weekdays li {
    display: inline-block;
    width: 13%;
    color: #666;
    text-align: center;
}
/* Days (1-31) */
.days {
    padding: 10px 0;
    background: #eee;
    margin: 0;
    width: 100%;
    height:67vh;
}
.days li {
    list-style-type: none;
    display: inline-block;
    text-align: center;
    margin-bottom: 5px;
    font-size:12px;
    color:#777;
    height:18%;
    width:13%;
}
/* Highlight the "current" day */
.days li .active {
    padding: 5px;
    background: #1abc9c;
    color: white !important
}

#rightside {
  width: 49vw;
  height: 72vh;
  background-color:lightblue;
}

#hist {
  width: 98vw;
  height: 40vh;
  background-color:lightgreen;
}

.container{
    display: flex;
}
.fixed{
    width: 50%;
}
.flex-item{
    flex-grow: 1;
}





  </style>
</head>

<body>
  <!-- top level heading -->



  <script>
  var realdiary = []
  //entries like [getGif result, text, emotion sentiment]
  </script>


  <script>
  //show i-th diary entry

  var emotion = [[]]



  function drawdraw(i){

    document.getElementById("summary--gif").innerHTML = ""


  var ifrm = document.createElement("iframe");
  var gif=realdiary[i]["data"][0]
  console.log(realdiary[i])
  console.log(realdiary[i]["data"][0], "IS DATA??")
  console.log('yes')


  console.log('wank')
  console.log(realdiary[i]["data"][0].url)
  console.log('twank')

  diarylist.push(realdiary[i]["data"][0].url)


  ifrm.setAttribute("src", gif["embed_url"]);
        ifrm.width = gif["images"]["downsized_small"]["width"]
        ifrm.setAttribute("href", gif["url"])
        ifrm.height = gif["images"]["downsized_small"]["height"]
        console.log(ifrm)
        document.getElementById("summary--gif").innerHTML = ""
        document.getElementById("summary--gif").appendChild(ifrm)

  

  }
  </script>

  <!-- demo body -->
  <div class="_demo--container">
    <article class="_content base--article">
      <div class="input">

        <input role="radio" class="base--radio input--radio" type="radio" id="input-own-text" name="rb" value="own-text" checked="true">
        <label class="base--inline-label input--radio-label" for="input-own-text">Your own text</label>
        <hr class="base--hr input--hr">
        <div class="panel">
          <textarea class="base--textarea input--textarea" rows="7"></textarea>
        </div>
        <div class="input--submit-button-container">
          <button onclick="test()" class="base--button input--submit-button" type="submit">Submit Diary</button>
        </div>

      </div>

      <div class="loading">
        <div class="loading--loader">
          <img src="images/loading-indicator.gif">
        </div>
      </div>

      <div class="error">
        <div class="error--message"></div>
      </div>

      <div class="output">
        <div class="summary--row">
          <div id = "summary--gif" class="summary--gif">

          </div>
          <div class="summary--emotion">
            <h5 class="base--h5 summary--header">Emotion</h5>
            <div class="summary-emotion-graph bar-graph"></div>
          </div>
          <div class="summary--writing">
            <h5 class="base--h5 summary--header">Language Style</h5>
            <div class="summary-writing-graph"></div>
          </div>
          <div class="summary--social">
            <h5 class="base--h5 summary--header">Social Tendencies</h5>
            <div class="summary-social-graph bar-graph"></div>
          </div>
        </div>
      </div>
    </article>


  </div>


<canvas id = 'hist'></canvas>


  <script type="text/html" id="emotionBarGraphTemplate">
    <% _.each(items, function(item, key, list) { %>
      <div class="bar-graph--row summary-<%= className %>-graph--row">
        <div class="bar-graph--label-container summary-<%= className %>-graph--label-container">
          <div class="bar-graph--label">
            <p class="base--p">
              <%= item.label %>
            </p>
            <% if (item.tooltip) { %>
              <div class="bar-graph--tooltip">
                <%= item.tooltip %>
              </div>
              <% } %>
          </div>
        </div>
        <div class="bar-graph--bar-container summary-<%= className %>-graph--bar-container">
          <div class="bar-graph--bar">
            <div class="bar-graph--bar-value summary-<%= className %>-graph--bar-value summary-<%= className %>-graph--bar-value_<%= item.label.replace(/\s+/g, '-') %>" style="width: <%= item.score %>%;"></div>
          </div>
        </div>
        <div class="summary-emotion-graph--percentage-label">
          <%= (item.score / 100).toFixed(2) %>
          <%= console.log((item.score / 100).toFixed(2)) %>
          <%= emotion[emotion.length-1].push(((item.score / 100).toFixed(2))) %>
          <% if (emotion[emotion.length-1].length == 5){emotion.push([])} %>
          <br>
          <span class="summary-emotion-graph--percentage-label-likeliness">
            <%= item.likeliness %>
          </span>
        </div>
      </div>
      <% }); %>
  </script>

  <script type="text/html" id="barGraphTemplate">
    <% _.each(items, function(item, key, list) { %>
      <div class="bar-graph--row">
        <div class="bar-graph--label-container summary-<%= className %>-graph--label-container">
          <div class="bar-graph--label">
            <p class="base--p">
              <%= item.label %>
            </p>
            <% if (item.tooltip) { %>
              <div class="bar-graph--tooltip">
                <%= item.tooltip %>
              </div>
              <% } %>
          </div>
        </div>
        <div class="bar-graph--bar-container summary-<%= className %>-graph--bar-container">
          <div class="bar-graph--bar">
            <div class="bar-graph--bar-value summary-<%= className %>-graph--bar-value summary-<%= className %>-graph--bar-value_<%= item.label.replace(/\s+/g, '-') %>" style="width: <%= item.score %>%;"></div>
          </div>
        </div>
        <div class="bar-graph--percentage-label">
          <%= (item.score / 100).toFixed(2) %>
        </div>
      </div>
      <% }); %>
  </script>

  <script type="text/html" id="verticalBarGraphTemplate">
    <% _.each(items, function(item, key, list) { %>
      <div class="summary-<%= className %>-graph--column">
        <div class="summary-<%= className %>-graph--bar">
          <div class="summary-<%= className %>-graph--bar-value" style="height: <%= item.score %>%;"></div>
          <div class="summary-<%= className %>-graph--bar-tooltip summary-<%= className %>-graph--bar-tooltip_<%= item.label.replace(/\s+/g, '-') %> bar-graph--bar-tooltip" style="margin-bottom: <%= item.score %>%;">
            <%= (item.score / 100).toFixed(2) %>
          </div>
        </div>
        <div class="summary-<%= className %>-graph--label">
          <%= item.label %>
        </div>
      </div>
      <% }); %>
  </script>

  <script type="text/html" id="filtersTemplate">
    <% _.each(items, function(item, key, list) { %>
      <input class="filters--radio base--radio" type="radio" id="filter-<%= item.label.replace(/\s+/g, '-') %>" data-id="<%= item.label %>" name="tone-filters" value="<%= item.label.replace(/\s+/g, '-') %>">
      <label class="filters--label base--block-label" for="filter-<%= item.label.replace(/\s+/g, '-') %>">
        <%= item.label %>
      </label>
      <% }); %>
  </script>

  <script type="text/html" id="originalTextTemplate">
    <% _.each(items, function(item, key, list) { %>
      <div class="base--p original-text--sentence-container" data-index="<%= key %>">
        <span class="original-text--sentence <%= item.className %>"><%= item.text %></span>
      </div>
      <% }); %>
  </script>

  <script type="text/html" id="sentenceRankTemplate">
    <tbody class="base--tbody">
      <% _.each(items, function(item, key, list) { %>
        <tr class="base--tr sentence-rank--tr">
          <td class="base--td sentence-rank--score <%= item.className %>"><b><%= item.score %></b></td>
          <td class="base--td sentence-rank--sentence">
            <%= item.text %>
          </td>
        </tr>
        <% }); %>
    </tbody>
  </script>

  <script type="text/html" id="originalTextTooltipTemplate">
    <div class="original-text--tooltip <%= isSocialTone == 'Social Tone' ? 'original-text--tooltip_social' : '' %>">
      <ul class="original-text--tooltip-ul">
        <% _.each(items, function(item, key, list) { %>
          <li class="original-text--tooltip-li <%= item.className %>">
            <div class="original-text--tooltip-score"><b><%= item.score_percentage %></b></div>
            <div class="original-text--tooltip-label">
              <%= item.tone_name %>
            </div>
          </li>
          <% }); %>
      </ul>
    </div>
  </script>

  <script type="text/html" id="originalTextLegendTemplate">
    <div class="original-text--legend-bar">
      <div class="original-text--legend-block original-text--legend-block_low original-text--legend-block_<%= className %>-low"></div>
      <div class="original-text--legend-block original-text--legend-block_med original-text--legend-block_<%= className %>-medium"></div>
      <div class="original-text--legend-block original-text--legend-block_high original-text--legend-block_<%= className %>-high"></div>
      <div class="original-text--legend-label original-text--legend-label_low">None</div>
      <div class="original-text--legend-label original-text--legend-label_high">Strong</div>
    </div>
  </script>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js"></script>
  <script type="text/javascript" src="js/vendors/prism.js"></script>
  <script type="text/javascript" src="js/components/tab-panels.js"></script>
  <script type="text/javascript" src="js/components/helpers.js"></script>
  <script type="text/javascript" src="js/components/App.js"></script>
  <script type="text/javascript" src="js/demo.js"></script>
  <script type="text/javascript">
    /*console.log("bann");
    function getGif(keyword)
  {

    var lnk="http://api.giphy.com/v1/gifs/search?q="
    var second="&api_key=dc6zaTOxFJmzC&limit=5"
    var theUrl=lnk+keyword+second
    var xhr=$.get(theUrl);

    xhr.done(showGif); 

}
function showGif(data){

  var ifrm = document.createElement("iframe");
  var gif=data["data"][0]
  console.log(data)
  console.log(data["data"][0], "IS DATA??")
  ifrm.setAttribute("src", gif["embed_url"]);
        ifrm.width = gif["images"]["downsized_small"]["width"]
        ifrm.setAttribute("href", gif["url"])
        ifrm.height = gif["images"]["downsized_small"]["height"]
        console.log(ifrm)
        document.body.appendChild(ifrm)
  
}


    var x=document.getElementsByClassName("base--textarea input--textarea")[0]["value"];
      getGif(x);
       console.log("IS X") ;*/
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', '<$= ga $>', 'auto');
    ga('send', 'pageview');
  </script>
  <script type="text/javascript">
  $(document).ready(function(){
    
    $('input[name="document-level"]').prop('checked', false);
    $('input[name="sentence-level"]').prop('checked', false);

    $(".input--submit-button, .output--reset-button").click(function() {
      $('input[name="document-level"]').prop('checked', false);
      $('input[name="sentence-level"]').prop('checked', false);
      
  //		$("input[name='document-level']").click(function() {
  //      setTimeout(function(){
  //        $('.dcl').hide(0).delay(2000).show(0);
  //				$('.document-level-thankyou').show(0).delay(2000).hide(0);
  //     }, 100);
  //		});
      		$("input[name='sentence-level']").click(function() {

          setTimeout(function(){
          $('.scl').hide(0).delay(2000).show(0);
  				$('.sentence-level-thankyou').show(0).delay(2000).hide(0);
        }, 100);
  		});
  });
  });

  var diarylist = []


  </script>











<div class="container">
  <div class="fixed">
    

<div class="month" padding-left="2cm"> 
  <ul>
    <li align = 'center'>
      November<br>
    </li>
  </ul>
</div>

<ul class="weekdays">
  <li>Mo</li>
  <li>Tu</li>
  <li>We</li>
  <li>Th</li>
  <li>Fr</li>
  <li>Sa</li>
  <li>Su</li>
</ul>

<ul class="days"> 
  <li id = "d1" class = 'dayz'>1</li>
  <li id = "d2" class = 'dayz'>2</li>
  <li id = "d3" class = 'dayz'>3</li>
  <li id = "d4" class = 'dayz'>4</li>
  <li id = "d5" class = 'dayz'>5</li>
  <li id = "d6" class = 'dayz'>6</li>
  <li id = "d7" class = 'dayz'>7</li>
  <li id = "d8" class = 'dayz'>8</li>
  <li id = "d9" class = 'dayz'>9</li>
  <li id = "d10" class = 'dayz'>10</li>
  <li id = "d11" class = 'dayz'>11</li>
  <li id = "d12" class = 'dayz'>12</li>
  <li id = "d13" class = 'dayz'>13</li>
  <li id = "d14" class = 'dayz'>14</li>
  <li id = "d15" class = 'dayz'>15</li>
  <li id = "d16" class = 'dayz'>16</li>
  <li id = "d17" class = 'dayz'>17</li>
  <li id = "d18" class = 'dayz'>18</li>
  <li id = "d19" class = 'dayz'>19</li>
  <li id = "d20" class = 'dayz'>20</li>
  <li id = "d21" class = 'dayz'>21</li>
  <li id = "d22" class = 'dayz'>22</li>
  <li id = "d23" class = 'dayz'>23</li>
  <li id = "d24" class = 'dayz'>24</li>
  <li id = "d25" class = 'dayz'>25</li>
  <li id = "d26" class = 'dayz'>26</li>
  <li id = "d27" class = 'dayz'>27</li>
  <li id = "d28" class = 'dayz'>28</li>
  <li id = "d29" class = 'dayz'>29</li>
  <li id = "d30" class = 'dayz'>30</li>
</ul>




  </div>
  <div class="flex-item">
    
<div id = "rightside">
JDSFKLJSFDL
</div>



  </div>
</div>




<script>


var className = document.getElementsByClassName("dayz")


function dc(){
  var day = parseInt(this.id.substring(1))
  var rs = document.getElementById("rightside")

  rs.innerHTML = day.toString()

}

for (var i = 0; i < className.length; i++){
  className[i].addEventListener('click',dc)
}





</script>



<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

  <script> function getGif(keyword)
  {

    var lnk="http://api.giphy.com/v1/gifs/search?q="
    var second="&api_key=dc6zaTOxFJmzC&limit=5"
    var theUrl=lnk+keyword+second
    var xhr=$.get(theUrl);

    xhr.done(showGif); 

}
function showGif(data){

  realdiary.push(data)


  var ifrm = document.createElement("iframe");
  var gif=data["data"][0]
  console.log(data)
  console.log(data["data"][0], "IS DATA??")
  console.log('yes')


  console.log('wank')
  console.log(data["data"][0].url)
  console.log('twank')

  diarylist.push(data["data"][0].url)


  ifrm.setAttribute("src", gif["embed_url"]);
        ifrm.width = gif["images"]["downsized_small"]["width"]
        ifrm.setAttribute("href", gif["url"])
        ifrm.height = gif["images"]["downsized_small"]["height"]
        console.log(ifrm)
        document.getElementById("summary--gif").innerHTML = ""
        document.getElementById("summary--gif").appendChild(ifrm)
  
}

function test(){





    var x=document.getElementsByClassName("base--textarea input--textarea")[0]["value"];
      getGif(x);
       console.log("IS X") ;}



/*
var ifrm = document.createElement("iframe");
        ifrm.setAttribute("src", "//giphy.com/embed/l0HlDTMgflJunbFGo");
        ifrm.style.width = "480px";
        ifrm.setAttribute("href", "http://giphy.com/gifs/boopy-l0HlDTMgflJunbFGo")
        ifrm.style.height = "480px";
console.log("iframe", ifrm)
document.body.appendChild(ifrm)*/
</script>



<script>

var diarylist = ["https://media.giphy.com/media/jYAGkoghdmD9S/giphy.gif"]




</script>



</body>

</html>
